/******* Common *******/
$background-color: #222;
$light-text-color: #FFF;

/******* Navigaton *******/
$active-link-back-color: #222;
$active-link-text-color: $light-text-color;

/******* Header *******/
$header-text-color: $light-text-color;

/******* Footer *******/
$footer-text-color: $light-text-color;