@import '../../common-styles/colors';

.app-root {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  & > .ui.menu .item.active-nav-link,
  & > .ui.menu .item.active-nav-link:hover {
    background: $active-link-back-color;
    border-color: $active-link-back-color;
    color: $active-link-text-color;
  }

  & > .ui.menu {
    margin-bottom: 0; 
  }

  & > main {
    flex: 1;
  }

  & > footer {
    height: 40px;
    margin-top:10px;
    padding: 10px;
    color: $footer-text-color;
    background: $background-color;
  }
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: $background-color;
  height: 180px;
  padding: 20px;
  color: $header-text-color;
  margin-bottom: 20px;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
